<h1 style="text-align: center;">{{title}}</h1>
<div class="about_text">
    <img class="portrait" src="images/portrait.png" />
    <p>Hey there! My name is Lucas Meissner and I am a 22 year old student studying Computer Science.</p>
    <p>Currently in the process of learning as much as I can and experiencing every aspect of Comp. Sci.</p>
    <p>Profficient in Python, ASP.NET, Java, C#, PHP, HTML, CSS, and soon to be Javascript along with its many frameworks :)</p>
    <p>I also played professional video games for 3 years before coming back to school, ask me about it if you want some interesting stories!</p>
</div>
