<h1 style="text-align: center;">{{title}}</h1>
<div id='index_content'>
    <h3 style="text-align: center;">Welcome to my portfolio!</h3>
    <p style="text-align: center;">Click the wonderful button below to be placed on a random page, or just navigate with the bar at the top!</p>
    <input class="random_button" type="button" onclick="randomPage()" value="🎲Click Me!🎲" />
</div>
