<h1 style="text-align: center;">{{title}}</h1>
<div class="projects_content">
    <h4 style="text-align: center;">Heres a short list of some of the projects I have done!</h4>
    <ul>
        <li>
            
        </li>
    </ul>
</div>