<h1 style="text-align: center;">{{title}}</h1>
<div class="projects_content">
    <h5 style="text-align: center;">Heres a short list of some of my favourite projects I have done!</h5>
    <ul>
        <li>
            <a style="color: blue;" href="https://github.com/lucasmeissner/python_map_generator">Python Map Generator</a>
            <p>I created a small python program to generate random maps based on perlin-noise generated numbers. Many different variables to tweak to get all kinds of interesting results, just done as a small project to explore perlin noise since I love randomly generated things.</p>
        </li>
        <li>
            <a style="color: blue" href="https://github.com/lucasmeissner/OpenAI_Discord_Bot">OpenAI Discord Bot</a>
            <p>I created a discord bot that can answer questions using the OpenAI beta API that I was lucky enough to get an invite to. Can answer simple (and maybe complex I haven't tested it enough) questions with high accuracy and concision</p>
        </li>
        <li>
            <p>Markov Chain Text Generation Discord Bot</p>
            <p>Unfortunately I still have not cleaned up this project enough to upload it to github, but I created a discord bot that can on the fly generate new sentences based on massive databases of saved data from my friends talking in discord. With their permission I had a dataset of close to 50 thousand messages each, which is a great size for generating new sentences with markov chains.</p>
        </li>
    </ul>
</div>